.maincontainer{
    overflow-x: hidden;
    flex-wrap: wrap;
    flex-direction: row;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;
    top: 20px;
}

.card-custom {
    width: 18rem;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.btn-custom {
    background-color: #ff9100;
    color: white;
}

.btn-custom:hover {
    background-color: #0056b3;
}