{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <form id="rzp-payment-form">
        <script src="https://checkout.razorpay.com/v1/checkout.js"
                data-key="{{ razorpay_key_id }}"
                data-amount="{{ amount }}"
                data-currency="{{ currency }}"
                data-order_id="{{ razorpay_order_id }}"
                data-buttontext="Pay Now"
                data-name="{{ canteen }}"
                data-description="Order Payment"
                data-image=""
                data-prefill.name=""
                data-theme.color="#F37254">
        </script>
        <input type="hidden" custom="Hidden Element" name="hidden">
    </form>
    
    <script>
        document.getElementById('rzp-payment-form').onsubmit = function(e) {
            e.preventDefault();
        };
    
        const rzp = new Razorpay({
            key: "{{ razorpay_key_id }}",
            handler: function (response) {
                fetch("{% url 'verify_payment' %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    body: new URLSearchParams({
                        razorpay_payment_id: response.razorpay_payment_id,
                        razorpay_order_id: response.razorpay_order_id,
                        razorpay_signature: response.razorpay_signature
                    })
                }).then(res => res.json())
                  .then(data => {
                    alert(data.status);
                    window.location.href = "{% url 'index2'%}"; // redirect after payment
                });
            }
        });
    
        rzp.open();
    </script>
    
</body>
</html>